# SPDX-FileCopyrightText: 2021 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Encoding=UTF-8
Type=Application
Name={{ application_name }}
GenericName=Dymola
Comment=Dynamic Modelling Laboratory
Exec={{ install_directory }}/bin64/dymola.sh
Icon={{ install_directory }}/insert/icons/dymola.png
Terminal=false
Categories=Development;
StartupNotify=true
